<div class="content">
  <mat-toolbar class="mat-elevation-z4">
      <span style="color:black;">About Us</span>
  </mat-toolbar>
</div>

<mat-card class="about-us">
  <mat-card-content>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
      sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
      ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
      Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
      sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
      ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
      Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
  </mat-card-content>
</mat-card>

<div class="content">
  <mat-toolbar class="mat-elevation-z4">
      <span style="color:black;">The Benefit of Practicing Scales</span>
  </mat-toolbar>
</div>

<mat-card class="about-us">
  <mat-card-content>
    <p><mat-card class="about-us">
      <mat-card-content>
        <p>Why Practicing Scales and Arpeggios is Important
          Before we get started, let’s clarify the difference between scales and arpeggios.

          A scale is a series of notes within a single octave that adhere to a set pattern.
          The pattern can consist of whole, half, and even third steps. An arpeggio is the
          notes of a chord played in a sequence, instead of all together.

          These kinds of technical exercises will benefit your overall ability to play music
          in numerous ways. First and foremost, repetitive exercises will help you develop muscle memory,
          and a great muscle memory makes for a great musician.

          In addition, practicing scales and arpeggios is important for the following reasons:

          Provides a practical introduction to music theory
          Helps you begin to recognise common patterns in music
          Assists in your understanding of composition
          Not only will these benefits make music easier to memorise,
          they will also give you a fantastic technical foundation so that you can write your own music.

          Tips for Practicing Scales and Arpeggios
          Regardless of which instrument you play, these few tips will help you practice scales and arpeggios
          more effectively.

          Practice All Pitches
          Try practicing your scales beginning from all pitches. Sure, you may never need to play those
          particular notes, but the ability to move through pitches is beneficial to any musician. Plus,
          being super methodical can help give your practice session a clear direction, so you’re less
          likely to give up half way through or become distracted.

          Practice a Variety of Scales
          Add interest to your practice session by having a go at other scales, not just standard major
          and natural minor. Blues scales, for example, are great fun to mess around with once you know them well.

          Don’t Overdo It
          Yes, technical exercises are important, but don’t over do it. Only spend about 10 –
          20 percent of your practice time on them, and then move on to the more exciting stuff.

          Learn a Musical Instrument
          There is so much more to playing a musical instrument than practicing your scales.
          It’s a fun, challenging, and rewarding journey that we believe each and every person
          can benefit from. If you’re ready to uncover your inner musical genius, give us a call
          on 02 9602 9774, or fill out the contact form on this page.
        </p>
      </mat-card-content>
    </mat-card>
    </p>
  </mat-card-content>
</mat-card>

<div class="content">
  <mat-toolbar class="mat-elevation-z4">
      <span style="color:black;">Approaches to Practicing Scales</span>
  </mat-toolbar>
</div>

<mat-card class="about-us">
  <mat-card-content>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
      sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
      ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
      Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
      sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
      Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
      ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
      Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
      eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
  </mat-card-content>
</mat-card>
