<mat-toolbar class="mat-elevation-z8">
  <mat-icon style="color: white;">music_note</mat-icon>
  <span style="color: white;">Practice Music Scales</span>
  <div class="spacer"></div>
  <button mat-button routerLink="home">Home</button>
  <button mat-button routerLink="about">About</button>
  <button mat-button routerLink="practice">Practice</button>
  <button mat-button routerLink="progress-page">Progress</button>
  <button mat-button routerLink="resources">Resources</button>
  <button mat-raised-button routerLink="login" style="color: black; background-color: goldenrod">Log In</button>
</mat-toolbar>
