<div class="content" fxLayout="row wrap">
  <!-- it is the fxLayoutGap that is causing the scroll. When it is 0, there is no scroll -->
  <div class="content1">
    <mat-card class="mat-elevation-z4">
      <mat-card-header class="header">
        <mat-card-title class="title">
          Daily Practice
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pixabay.com/get/52e1d44b4f5aa414f6d1867dda35367b1c3bdbe35557794a_1920.jpg"/>
      <mat-card-footer class="footer">
        <button mat-raised-button (click)="onClickDailyPractice()" class="button">
          Begin
        </button>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="content2">
    <mat-card class="mat-elevation-z4">
      <mat-card-header class="header">
        <mat-card-title class="title">
          Challenges
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pixabay.com/get/54e2d2454b5aad14f6d1867dda35367b1c3bdbe35556784c_1920.jpg"/>
      <mat-card-footer class="footer">
        <button mat-raised-button (click)="onClickChallenges()" class="button">
          Begin
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
